<h1 [hidden]="selectedContact">Contacts</h1>
<h1 *ngIf="selectedContact"><a (click)="selectedContact = null">Contacts</a> - {{selectedContact.id ? selectedContact.name : 'New Contact'}}</h1>
<div class="container" [hidden]="selectedContact">
	<div class="row">
		<div class="col-md-12">
			<div class="btn btn-primary" (click)="newContact()" style="float:right">New Contact</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<th><a (click)="updateSorting('name')">Name</a> <i *ngIf="sortingLogic && sortingLogic.prop === 'name'" class="glyphicon" [class.glyphicon-sort-by-attributes]="sortingLogic && !sortingLogic.reverse" [class.glyphicon-sort-by-attributes-alt]="sortingLogic && sortingLogic.reverse"></i></th>
					<th><a (click)="updateSorting('company')">Company</a> <i *ngIf="sortingLogic && sortingLogic.prop === 'company'" class="glyphicon" [class.glyphicon-sort-by-attributes]="sortingLogic && !sortingLogic.reverse" [class.glyphicon-sort-by-attributes-alt]="sortingLogic && sortingLogic.reverse"></i></th>
				</thead>
				<tbody>
					<tr *ngFor="let contact of sortBy()">
						<td><a (click)="selectContact(contact)">{{contact.name}}</a></td>
						<td>{{contact.company}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container" *ngIf="selectedContact">
	<contact-edit [originalContact]="selectedContact" [saveCallback]="boundSaveCallback" [cancelCallback]="boundCancelCallback"></contact-edit>
</div>

